.current-user {
    position: absolute;
    right: 100px;
    top: 20px;
    font-weight: bold;
}

.btn-logout {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
    color:black
}
.btn-logout a {
    color:#f36a5a
}

.btn-tambah{
    margin-bottom: 10px;
}